version: '3'
services:
  web:
    build: .
    ports:
    - "5000:80"
    volumes:
    - .:/app
    depends_on:
      - db
  db: 
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=banksieapp
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: