services:
  web:
    build: .
    ports:
    - "5000:5000"
    volumes:
    - .:/app
    depends_on:
      - db
  db: 
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=banksieapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: