.form-card {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.form-input {
    padding-bottom: 20px;
}

.submit-btn {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.cancel-btn {
    display: flex;
    justify-content: end;
}