.header-container {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container * {
    margin: 0;
}

.acct-display {
    font-size: 20px;
}

.acct-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acct-details {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;

}

