.acct-header-container {
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acct-header-container * {
    margin: 0;
}

.acct-display {
    font-size: 20px;
}

.acct-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acct-details {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.trans-card {
    margin: 30px 0;
}

.trans-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 75px;
}

.list-item-top {
    height: 50%;
}

.list-item-bottom {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.trans-footer {
    display: flex;
    justify-content: end;
    height: 50px;
    padding: 0 !important;
}

.trans-footer-btn {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    background: none;
    border: none;
    color: black;
    padding-right: 20px;
}

.pagnation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    margin-bottom: 0;
    align-items: center;
}

.link-class-name {
    list-style-type: none;
}

.previous, .next, .pagelinks, .page-list {
    list-style-type: none;
    text-decoration: none;
}

.selected {
    text-decoration: underline;
}

.color {
    color: black;
}