header {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(248, 247, 247);
    border-bottom: 1px rgb(219, 219, 219) solid;
}
.profile-icon {
    position: absolute;
    margin-right: 20px;
}
.header-title {
    font-weight: 300;
    font-size: 23px;
    margin: 0 auto;
    padding-bottom: 3px;
}

.acct-header-container {
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acct-header-container * {
    margin: 0;
}

.acct-display {
    font-size: 20px;
}

.acct-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acct-details {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.trans-card {
    margin: 30px 0;
}

.trans-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 75px;
}

.list-item-top {
    height: 50%;
}

.list-item-bottom {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.trans-footer {
    display: flex;
    justify-content: end;
    height: 50px;
    padding: 0 !important;
}

.trans-footer-btn {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    background: none;
    border: none;
    color: black;
    padding-right: 20px;
}

