header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.header-title {
    font-weight: 300;
    font-size: 23px;
}

.acct-header-container {
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acct-header-container * {
    margin: 0;
}

.acct-display {
    font-size: 20px;
}

.acct-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acct-details {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.trans-card {
    margin-top: 30px;
}

.trans-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 75px;
}

.list-item-top {
    height: 50%;
}

.list-item-bottom {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

