.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  background-color: rgb(162, 176, 244);
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}