.profile-card {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.name-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    padding-top: 20px;
}

.form-section {
    margin-top: 50px;
}

.modify-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}