.profile-card {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.name-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    padding-top: 20px;
}

.credentials-section {
    margin-top: 50px;
}

.edit-btn-section {
    display: flex;
    justify-content: right;
}
.edit-btn {
    background: none;
    border: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.modify-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}