#nav-toggle {
    position: absolute;
    top: .55rem;
    left: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 35px;
    width: 30px;
    padding: 8px 0 8px 0;
    gap: 6px;
    z-index: 20;
}

.nav-bar {
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

#nav-stack {
    opacity: 0;
    transform: translateX(-10px); /* start slightly above */
    transition: opacity 0.2s ease, transform 0.2s ease;
    visibility: hidden;
    transform: translateX(-10px);
    width: 15rem;
    position: absolute;
}

#nav-stack.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.2s ease, transform 0.2s ease;
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(181, 193, 255);
    z-index: 10;
}

.nav-links {
    color: white !important;
    font-weight: bold !important;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(128, 128, 128, 0.529);
}